<div [ngClass]="{'opened': opened, 'dark': settings[2] == 'dark'}">
	<div class="main">
		<div class="header">
			<div class="search">
				<input type="text" class="form-control" placeholder="Search" autofocus (keyup)="onSearch($event.target.value)" />
			</div>

			<div class="market">
				<p class="heading"><strong>Total Market Cap</strong></p>
				<p class="value">{{ global['total_market_cap_usd'] * conversion_rates[settings[1]] | currency:settings[1]:'symbol':'1.0-0' }}</p>
			</div>

			<div class="nav">
				<button class="btn btn-success btn-lg" type="button" data-toggle="modal" data-target="#settings"><i class="fa fa-cog"></i></button>
			</div>
		</div>

		<div class="collapse" id="filter">
			<div class="container-fluid">
				<div class="row pt-3 pb-2">
					<div class="col-lg-3 open-fullwidth">
						<div class="btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
							<label class="btn btn-outline-dark filter active" (click)="filterListings('0', '0')">
								<input type="checkbox" checked autocomplete="off">Mined
							</label>

							<label class="btn btn-outline-dark filter active" (click)="filterListings('0', '1')">
								<input type="checkbox" checked autocomplete="off">Pre-mined
							</label>
						</div>
					</div>

					<div class="col-lg-3 open-fullwidth">
						<div class="btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
							<label class="btn btn-outline-dark filter active" (click)="filterListings('1', 'PoW')">
								<input type="checkbox" checked autocomplete="off">PoW
							</label>

							<label class="btn btn-outline-dark filter active" (click)="filterListings('1', 'PoS')">
								<input type="checkbox" checked autocomplete="off">PoS
							</label>

							<label class="btn btn-outline-dark filter active" (click)="filterListings('1', 'N/A')">
								<input type="checkbox" checked autocomplete="off">N/A
							</label>
						</div>
					</div>

					<div class="col-lg-6 open-fullwidth">
						<div class="btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
							<label class="btn btn-outline-dark filter active" (click)="filterListings('2', 'SHA256')">
								<input type="checkbox" checked autocomplete="off">SHA256
							</label>

							<label class="btn btn-outline-dark filter active" (click)="filterListings('2', 'Scrypt')">
								<input type="checkbox" checked autocomplete="off">Scrypt
							</label>

							<label class="btn btn-outline-dark filter active" (click)="filterListings('2', 'X11')">
								<input type="checkbox" checked autocomplete="off">X11
							</label>

							<label class="btn btn-outline-dark filter active" (click)="filterListings('2', 'CryptoNight')">
								<input type="checkbox" checked autocomplete="off">CryptoNight
							</label>

							<label class="btn btn-outline-dark filter active" (click)="filterListings('2', 'Ethash')">
								<input type="checkbox" checked autocomplete="off">Ethash
							</label>

							<label class="btn btn-outline-dark filter active" (click)="filterListings('2', 'other')">
								<input type="checkbox" checked autocomplete="off">Other
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="news">
			<perfect-scrollbar style="max-width: 100%; max-height: 100%;" [config]="config">
				<div *ngFor="let article of news">
					<h5 (click)="openWebsite(article.getUrl())">{{ article.getTitle() }}</h5>

					<button class="btn btn-primary" (click)="openWebsite(article.getUrl())">Read more</button>
				</div>
			</perfect-scrollbar>
		</div>

		<div class="listings">
			<perfect-scrollbar style="max-width: 100%; max-height: 100%;" [config]="config">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							
							<th (click)="onSortClick('change')">
								<span [ngClass]="sort == 'change' ? 'sort ' + sort_direction : ''">{{ settings[0] }} Change</span>
							</th>
							
							<th (click)="onSortClick('price')">
								<span [ngClass]="sort == 'price' ? 'sort ' + sort_direction : ''">Price</span>
							</th>
							
							<th (click)="onSortClick('market_cap')" class="d-none d-md-table-cell open-hide">
								<span [ngClass]="sort == 'market_cap' ? 'sort ' + sort_direction : ''">Market Cap</span>
							</th>
							
							<th class="d-none d-xl-table-cell open-hide">Share</th>

							<th (click)="onSortClick('24h_volume')" class="d-none d-lg-table-cell open-hide">
								<span [ngClass]="sort == '24h_volume' ? 'sort ' + sort_direction : ''">24H Volume</span>
							</th>

							<th class="d-none d-sm-table-cell open-hide">7 Day Chart</th>
						</tr>
					</thead>
					
					<tbody>
						<ng-container *ngFor="let listing of shown_listings">
							<tr *ngIf="favorites.indexOf(listing.getSymbol()) > -1" (click)="onListingClick(listing)" class="highlighted" [ngClass]="{'active': ifActive(listing)}">
								<td>
									<div class="icon">
										<img src="https://s3-us-west-1.amazonaws.com/coinrank/icons/{{ listing.getSymbol() }}.png" class="img-fluid" />

										<div class="badge badge-primary">{{ listing.getRank() }}</div>
									</div>

									<div class="name">
										<h4 class="mb-0">{{ listing.getName() }}</h4>
										<h6 class="mb-0 font-weight-light">{{ listing.getAvailableSupply() | number:'1.0-0' }} {{ listing.getSymbol() }}</h6>
									</div>

									<div class="favorite active" (click)="onFavoriteClick(listing); $event.stopPropagation()"></div>
								</td>
								<td class="text-center text-{{ listing.getColor(settings[0]) }} change"><p class="mt-0 mb-0"><i class="fa fa-arrow-{{ listing.getDirection(settings[0]) }}"></i></p><p class="mt-0 mb-0">{{ listing.getPercentChange(settings[0]) }}%<span> ({{ listing.getPriceChange(settings[0]) | currency:settings[1]:'symbol':'1.2-2' }})</span></p></td>
								<td class="text-center"><span class="badge badge-{{ listing.getColor(settings[0]) }} price">{{ listing.getPrice() | currency:settings[1]:'symbol':'1.2-5' }}</span></td>
								<td class="text-right d-none d-md-table-cell open-hide">{{ listing.getMarketCap() | currency:settings[1]:'symbol':'1.0-0' }}</td>
								<td class="text-center d-none d-xl-table-cell open-hide">{{ listing.getMarketShare() | number:'1.2-2' }}%</td>
								<td class="text-right d-none d-lg-table-cell open-hide">{{ listing.getVolume() | currency:settings[1]:'symbol':'1.0-0' }}</td>
								<td class="text-center d-none d-sm-table-cell open-hide image"><img src="{{ listing.getChart() }}" width="252" height="50" class="img-fluid chart" /></td>
							</tr>
						</ng-container>
						
						<ng-container *ngFor="let listing of shown_listings | slice:0:limit; let i=index">
							<tr *ngIf="favorites.indexOf(listing.getSymbol()) < 0" (click)="onListingClick(listing)" [ngClass]="{'active': ifActive(listing)}">
								<td>
									<div class="icon">
										<img src="https://s3-us-west-1.amazonaws.com/coinrank/icons/{{ listing.getSymbol() }}.png" class="img-fluid" />

										<div class="badge badge-primary">{{ listing.getRank() }}</div>
									</div>

									<div class="name">
										<h4 class="mb-0">{{ listing.getName() }}</h4>
										<h6 class="mb-0 font-weight-light">{{ listing.getAvailableSupply() | number:'1.0-0' }} {{ listing.getSymbol() }}</h6>
									</div>

									<div class="favorite" (click)="onFavoriteClick(listing); $event.stopPropagation()"></div>
								</td>
								<td class="text-center text-{{ listing.getColor(settings[0]) }} change"><p class="mt-0 mb-0"><i class="fa fa-arrow-{{ listing.getDirection(settings[0]) }}"></i></p><p class="mt-0 mb-0">{{ listing.getPercentChange(settings[0]) }}%<span> ({{ listing.getPriceChange(settings[0]) | currency:settings[1]:'symbol':'1.2-2' }})</span></p></td>
								<td class="text-center"><span class="badge badge-{{ listing.getColor(settings[0]) }} price">{{ listing.getPrice() | currency:settings[1]:'symbol':'1.2-5' }}</span></td>
								<td class="text-right d-none d-md-table-cell open-hide"><p class="mt-0 mb-0">{{ listing.getMarketCap() | currency:settings[1]:'symbol':'1.0-0' }}</p><p class="mt-0 mb-0 text-{{ listing.getColor(settings[0]) }}"></p></td>
								<td class="text-center d-none d-xl-table-cell open-hide">{{ listing.getMarketShare() | number:'1.2-2' }}%</td>
								<td class="text-right d-none d-lg-table-cell open-hide">{{ listing.getVolume() | currency:settings[1]:'symbol':'1.0-0' }}</td>
								<td class="text-center d-none d-sm-table-cell open-hide image"><img src="{{ listing.getChart() }}" width="252" height="50" class="img-fluid chart" /></td>
							</tr>
						</ng-container>
					</tbody>
				</table>

				<h3 *ngIf="listings?.length < 1" class="text-center">Loading coins</h3>

				<div *ngIf="listings?.length > 0" class="text-center pb-5"><button class="btn btn-primary" (click)="limit = limit + 30"><i class="fa fa-caret-down"></i> Show More</button></div>
			</perfect-scrollbar>
		</div>
	</div>

	
</div>

<app-settings></app-settings>