<div class="opene">
	<div class="main">
		<div class="row no-gutters">
			<div class="col-sm-12">
				<div class="header">
					<div class="row no-gutters">
						<div class="logo">
							Logo
						</div>
						
						<div class="search">
							<div class="input-group input-group-lg">
								<input type="text" class="form-control" placeholder="Search {{ global.total_market_cap_usd }}" autofocus />
								
								<span class="input-group-btn">
									<button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</div>

						<div class="nav">
							<button class="btn btn-light btn-lg" type="button"><i class="fa fa-cog"></i></button>
						</div>
					</div>
				</div>

				<div class="listings">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>24H Change</th>
								<th>Price</th>
								<th class="d-none d-md-table-cell open-hide">Market Cap</th>
								<th class="d-none d-lg-table-cell open-hide">24H Volume</th>
								<th class="d-none d-xl-table-cell open-hide">Market Share</th>
								<th class="d-none d-sm-table-cell open-hide">Chart</th>
							</tr>
						</thead><!--<nvd3 [options]="options" [data]="data"></nvd3>-->
						
						<tbody>
							<tr *ngFor="let listing of listings">
								<td>
									<div class="icon">
										<img src="https://files.coinmarketcap.com/static/img/coins/32x32/{{ listing.getId() }}.png" class="img-fluid" />

										<div class="badge badge-primary">{{ listing.getRank() }}</div>
									</div>

									<div class="name">
										<h4 class="mb-0">{{ listing.getName() }}</h4>
										<h6 class="mb-0 font-weight-light">{{ listing.getAvailableSupply() | number:'1.0-0' }} {{ listing.getSymbol() }}</h6>
									</div>

									<div class="favorite">
										<i class="fa fa-star-o"></i>
									</div>
								</td>
								<td class="text-center text-{{ listing.getColor() }} change"><p class="mt-0 mb-0"><i class="fa fa-arrow-{{ listing.getDirection() }}"></i></p><p class="mt-0 mb-0">{{ listing.getPercentChange24H() }}%<span> (+26.38)</span></p></td>
								<td class="text-center"><span class="badge badge-{{ listing.getColor() }} price">{{ listing.getPriceUsd() | currency:'USD':true:'1.2-5' }}</span></td>
								<td class="text-right d-none d-md-table-cell open-hide">{{ listing.getMarketCapUsd() | currency:'USD':true:'1.0-0' }}</td>
								<td class="text-right d-none d-lg-table-cell open-hide">{{ listing.getVolumUsd() | currency:'USD':true:'1.0-0' }}</td>
								<td class="text-center d-none d-xl-table-cell open-hide">{{ listing.getMarketShare() | number:'1.2-2' }}%</td>
								<td class="d-none d-sm-table-cell open-hide">Chart</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="container-fluid">
			<h1>Bitcoin</h1>
		</div>
	</div>
</div>