.content {
	display: none;
	position: relative;

	.loading {
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background: RGBA(255, 255, 255, 1);

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -22.5px;
			margin-left: -35.5px;
		}
	}

	&.loading {
		overflow: hidden !important;
		
		.loading {
			display: block;
		}
	}
	
	.options {
		height: 65px;
		padding: 20px 0;

		.back {
			border-radius: 50px;
			padding: 2px;
			top: 1px;
			right: 18px;
			width: 28px;
			height: 28px;
			text-align: center;
			z-index: 200;
			position: absolute;
			cursor: default;
			@include transition($btn-transition);
		}

		.back:hover {
			background: $gray-200;
		}
	}

	.chart {
		min-width: 100%;
		min-height: 500px;

		a { display: none !important; }
	}
}

.opened {
	.main {
		float: left;
		width: 100%;
		max-width: 450px;
		height: 100%;
		overflow: auto;
	}

	.content {
		height: 100%;
		overflow: auto;
		background: #FFF;
		display: block;
		z-index: 2;
	}
}

// If screen too small for sidebars
@include media-breakpoint-down(md) {
	.opened {
		.main{ 
			width: 100%;
			max-width: 100%;
		}

		.content {
			width: 100%;
			position: absolute;
			margin-top: 65px;
		}
	}
}