.listings {
	tbody tr {
		cursor: default;
		@include transition($btn-transition);
	}

	thead tr {
		th {
			cursor: default;

			span {
				cursor: default;

				&.sort {
					font-weight: bold;
					color: $gray-900;

					&.up::after {
						content: "\f0d8";
						font: normal normal normal 14px/1 FontAwesome;
						margin-left: 5px;
						float: right;
    					margin-top: 2px;
					}

					&.down::after {
						content: "\f0d7";
						font: normal normal normal 14px/1 FontAwesome;
						margin-left: 5px;
						float: right;
    					margin-top: 2px;
					}
				}
			}
		}
	}

	tbody {
		td:first-child {
			position: relative;
			width: 220px;
		}

		tr:hover, tr.active {
			background: #FFF;
		}
	}

	.name {
		float: left;
		padding-left: 10px;
		margin-top: 2px;
		white-space: nowrap;
		overflow: hidden;
		width: 131px;
	}

	.icon {
		float: left;
		width: 32px;
		margin-top: 2px;
		position: relative;
	}

	.icon .badge {
		position: absolute;
		bottom: -5px;
		right: -5px;
		font-size: 11px;
	}

	tr.highlighted {
		background: $gray-300;
	}
	
	.favorite {
		float: right;
		font-size: 22px;
		margin-top: 3px;

		&::after {
			content: "\f006";
			font: normal normal normal 22px/1 FontAwesome;
		}

		&:hover::after {
			content: "\f005";
			font: normal normal normal 22px/1 FontAwesome;
		}

		&.active::after {
			content: "\f005";
			font: normal normal normal 22px/1 FontAwesome;
		}
	}
	
	.price {
		font-size: 1rem;
		font-weight: 100;
		padding: 8px 22px;
		box-shadow: 0 0.125rem 0.75rem rgba(0,0,0,0.2);
	}

	.image {
		height: 70px;
	}
}

.opened {
	.listings {
		.name {
			width: 142px;
		}

		.table th:first-child, .table td:first-child {
			padding-left: 0.75rem;
		}

		.change span {
			display: none;
		}
	}
}

@include media-breakpoint-down(sm) {
	.listings {
		.name {
			width: 142px;
		}
		
		.table th:first-child, .table td:first-child {
			padding-left: 0.75rem;
		}

		.change span {
			display: none;
		}

		.price {
			padding: 12px 8px;
		}
	}
}