$logo-width: 80px;
$nav-width: 63px;

.header {
	border-bottom: 1px solid #DDD;
	position: relative;
	height: 65px;

	.btn {
		border-radius: 0 !important;
		box-shadow: none;
	}
	
	.logo {
		position: absolute;
		width: $logo-width;
		height: 65px;
		left: 0;
		top: 0;
		background: $green;
		color: #FFF;
	}

    .search {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding-left: $logo-width;
		padding-right: $nav-width;

        .form-control {
            background: transparent;
            border: none;
            padding: $px20 $px24;
            padding-right: 0;
        }

        .btn {
            border: none;
			padding: $px20 $px24 !important;
        }
    }

    .nav {
		position: absolute;
		width: $nav-width;
		right: 0;
		top: 0;

        button.btn {
            border: none;
			padding: $px20 $px24 !important;
			border-left: 1px solid #ddd;
		}
	}
}

.opened {
    .header {
        .search {
            width: 100%;
        }
    }
}