@import "bootstrap/bootstrap";

@import "header";
@import "listings";
@import "content";

.opened {
    height: 100%;
}

.opened .open-hide {
    display: none !important;
}

.dark {
    background: #25272b;
    color: $gray-200;

    a {
        color: $light;

        &:hover {
            color: $white;
        }
    }

    .form-control {
        color: $gray-200;
    }

    .btn-light {
        @include button-variant($dark, $dark);
    }

    .btn-dark {
        @include button-variant($light, $light);
    }

    .header {
        border-bottom: 1px solid #000;

        .nav button.btn {
            border-left: 1px solid #000;
        }
    }

    .listings {
        tr {
            background: #25272b;
        }

        tbody tr:hover, tbody tr.active {
            background: #0f1113;
        }

        tr.highlighted {
            background: #31353c;
        }
        
        table thead th {
            color: $gray-200;

            .sort {
                color: #FFF;
            }
        }
    }

    .content {
        background: #0f1113;

        .options .back:hover {
            background: $dark;
        }
    }
}